header {
  margin: 20px 0px;
}

header > h1 {
  margin: 0px;
}

.social {
  margin: 0 auto;
  width: 50%;
}

.social span > a {
  display: inline-block;
  background: -webkit-linear-gradient(top,
      rgba(0, 180, 0, 0.3),
      rgba(0, 110, 0, 0.3) 50%,
      rgba(0, 70, 0, 0.3) 50%,
      rgba(0, 20, 0, 0.3));
  padding: 10px 15px 5px 15px;
  text-decoration: none;
  border-radius: 5px;
  border: 2px solid rgba(0, 200, 0, 0.7);
  border-top: 2px solid rgba(0, 200, 0, 1);
}


li {
  margin-bottom: 0.5em;
}

code {
  color: #b5e853;
}

a:link { text-decoration: none;}
a:hover { text-decoration: underline; }

a.zola-anchor:hover {
  text-decoration: none;
}

.censored {
  box-shadow: 0 0 0 20px inset,
  0 0 5px grey;
  transition: box-shadow .2s;
}

.censored:hover {
  box-shadow: 0 0 0 0 inset,
  0 0 2px grey,
  0 0 2px grey inset;
  transition: box-shadow .2s;
}

.censored:hover::after {
  transition: opacity .2s;
  opacity: 0;
}
