<div id="gh-comments">
  <br/><br/>
  <div id="gh-comments-list"></div>
</div>

<script type="text/javascript">

// To use Gihub comments instead of gists
// var base_url = "https://github.com/apiraino/apiraino.github.io/issues/"
// var base_api_url = "https://api.github.com/repos/apiraino/apiraino.github.io/issues/"

// Link to create a new comment
var base_url = "https://gist.github.com/apiraino/"
// Link to retrieve all comments
var base_api_url = "https://api.github.com/gists/"

var url = base_url + '{{ page.gist_id }}' + '#new_comment_field'
var api_url = base_api_url + '{{ page.gist_id }}' + '/comments'

axios.defaults.headers.get['Content-Type'] = 'application/json'
axios.defaults.headers.get['Accept'] = 'application/vnd.github.v3.html+json'
axios
  .get(api_url)
  .then(response => {
    if (response.data !== undefined) {
      var addComment = "<a href='" + url + "' rel='nofollow' class='btn-comment'>Post a comment</a><br/><br/>(Must be logged into GitHub)"
      document.getElementById('gh-comments-list').innerHTML = addComment
      this.data = response.data
      this.data.forEach(function(comment) {
        var date = new Date(comment.created_at);
        var t = "<div id='gh-comment'>";
        t += "<img src='" + comment.user.avatar_url + "' width='24px'>";
        t += "<b><a href='" + comment.user.html_url + "'>" + comment.user.login + "</a></b>";
        t += " posted at ";
        t += "<em>" + date.toUTCString() + "</em>";
        t += "<div id='gh-comment-hr'></div>";
        t += comment.body_html;
        t += "</div>";
        document.getElementById('gh-comments-list').innerHTML += t
        // document.getElementById('gh-comments-list').innerText += t
        // document.getElementById('gh-comments-list').textContent += t
      })
    }
  })
  .catch(error => {
    console.debug('Got: ' + error)
    if (console.response) {
      console.debug(error.response.data.detail)
      // document.getElementById('gh-comments-list').innerText = "text";
      // document.getElementById('gh-comments-list').textContent = "text";
    }
    var errMsg = "<p class='no-comments'>Comments closed for this article</p>"
    document.getElementById('gh-comments-list').innerHTML = errMsg
  })

</script>
