<link rel="shortcut icon" type="image/x-icon" href="/assets/favicon.ico">
<section class="social">
  <span>
    <a href="https://gitlab.com/{{ site.gitlab_username }}" target="_new">
      <img src="/assets/gitlab.png" width="32" alt="gitlab" />
    </a>
    <a href="https://github.com/{{ site.github_username }}" target="_new">
      <img src="/assets/github.png" width="32" alt="github" />
    </a>
    <a href="mailto:{{ site.email }}">
      <img src="/assets/email.png" width="32" alt="email" />
    </a>
    <a href="{{ site.gpg }}" target="_new">
      <img src="/assets/gpg.png" width="32" alt="My GPG key" />
    </a>
    <a href="/feed.xml" target="_new">
      <!-- image name can't start with: "rss", "icon" ... WTF roflmao!! -->
      <img src="/assets/hey-rss.png" width="32" alt="RSS feed" />
    </a>
  </span>
</section>
